
html,body{
	
	font-family: 'Bubblegum Sans';
	font-size: 16px;
	color: #FFFFFF;
}

body{
	background-image: url(../img/bo_play_pattern.png);
}

p{
	text-align: justify;
}

.navbar-brand img{
	max-height: 100px;
}

.splash{
	background-image:url(../img/splash2.jpeg);
	background-size: cover;
	padding: 15% 0px;

	text-align: center;
	font-family: 'Fredericka the Great';
}
.splash h1{
	color: #FFFFFF;
	font-size: 5rem;
	text-shadow: 0px 0px 25px #000000;
}

.splash button,.boton1{
	color: #E8E8E8;
	background-color: rgba(37, 36, 36, 0.87);
	border: 2px solid #A5A5A5;
	border-radius: 10px;
	width: 100px;
	height: 50px;
}

.splash button:hover,.boton1:hover{
	color: #FFFFFF;
	background-color: rgba(37, 36, 36, .95);
	width: 115px;
	height: 50px;
	font-size: 2rem;
}

nav{
	margin: 0px 0px 0px 0px !important;
}

.separarmarg{
	margin-top: 60px;
}
.separarmargbot{
	margin-bottom: 30px;
}

.center{
	text-align: center;
}
.map iframe{
	border:0;
	width:80%;
	height:25%;
}

.formulario label, .formulario input,.formulario textarea{
	display: block;
}
.formulario input,.formulario textarea{
	margin-bottom: 10px;
	color: #292929;
	width: 100%;
	padding:0 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #000000;
	font-size: 1.2rem;
}
.formulario input:hover,.formulario input:focus
,.formulario textarea:hover,.formulario textarea:focus{
	box-shadow: 0px 0px 8px #006D72;
	border: 2px solid #000000;
}

.formulario textarea{
	height: 150px;
}

.formulario button{
	display: block;
	margin: 0 auto;
	font-family: 'Fredericka the Great';
}

.footerlogo{
	max-height: 100px;
}