
html,body{
	
	font-family: 'Bubblegum Sans';
	font-size: 16px;
	color: #FFFFFF;
}

body{
	background-image: url(../img/bo_play_pattern.png);
}

p{
	text-align: justify;
}

.navbar-brand img{
	max-height: 100px;
}

.splash{
	background-image:url(../img/splash2.jpeg);
	background-size: cover;
	padding: 15% 0px;

	text-align: center;
	font-family: 'Fredericka the Great';
}
.splash h1{
	color: #FFFFFF;
	font-size: 5rem;
	text-shadow: 0px 0px 25px #000000;
}

.splash button{
	color: #E8E8E8;
	background-color: rgba(37, 36, 36, 0.87);
	border: 2px solid #A5A5A5;
	border-radius: 10px;
	width: 100px;
	height: 50px;
}

.splash button:hover{
	color: #FFFFFF;
	background-color: rgba(37, 36, 36, .95);
	width: 115px;
	height: 50px;
	font-size: 2rem;
}

nav{
	margin: 0px 0px 0px 0px !important;
}

.map{
	text-align: center;
}
.map iframe{
	border:0;
	width:80%;
	height:25%;
}