
html,body{
	
	font-family: 'Bubblegum Sans';
	color: #000000;
}

body{
	background-image: url(../img/gplaypattern.png);
	/*background-image: url(../img/purty_wood.png);*/
}

.splash{
	background-image:url(../img/city.jpg);
	background-size: cover;
	padding: 15% 0px;

	text-align: center;
	font-family: 'Fredericka the Great';
}
.splash h1{
	color: #FFFFFF;
	font-size: 5rem;
	text-shadow: 0px 0px 25px #000000;
}
